/* ------------- MODIFICAR VARIABLES ------------- */
$position-values: (20 :20%, 80 :80%);

$primary:#5265E1;
$secondary:#FA5959;
$success:#283673;
$info:#adb5bd;
$font-family-sans-serif: 'Roboto',sans-serif;
$font-weight-semibold: 500;
$font-size-base:.8rem;

$border-widths: (1: 0.1px);

$accordion-button-active-bg: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow:none;
$accordion-button-active-color: black;




/* ------------- ESTILS PROPIS ------------- */

.font-montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

/* Section primary */

.background-hero{
    z-index: -1;
}

@media (min-width : 992px) {
    /* Section primary */
    .image-hero{
        width: 110%;
    }
    /* Section Cards */
    .col-card{
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                margin-top: #{$i * 40}px;
            }
        }
    }
}



@media (max-width : 992px) {
    /* Section primary */
    .background-hero{
        width: 200vw !important;
    }
    .image-hero{
        width: 100%;
    }
}


/* ------------- CARREGUEM LLIBRERIA BOOTSTRAP ------------- */

@import "../node_modules/bootstrap/scss/bootstrap.scss";





/* ------------- MODIFICACIONS ESTILS BOOTSTRAP ------------- */

body {
    overflow-x: hidden;
}

/* Header */
.navbar-toggler-icon {
    background-image: url(../images/icon-hamburger.svg);
}

.btn-close {
    background-image: url(../images/icon-close.svg);
    opacity: 1;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-header img {
    max-width: 200px;
}


/* Section Features */
.features{
    .nav-item{
        .link-info{
            &.active{
                color:black !important;
                border-bottom: 3px solid $secondary !important;
            }
        }
    }
}

/* Section Cards */
.card{
    .card-footer{
        background-image: url(../images/bg-dots.svg);
        background-repeat: repeat-x;
    }
}

/* Section Accorddion */

.accordion-button::after{
    background-image: url(../images/icon-arrow.svg);
}
.accordion-button:not(.collapsed)::after{
    background-image: url(../images/icon-arrow-red.svg);
}
.accordion-button:hover{
    color:$secondary;
}

/* Footer */
.was-validated .form-control:invalid{
    border:2px solid $secondary;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image:url(../images/icon-error.svg);
}
.form-control{
    &::placeholder {
       color:$info;
    }
}


/* Breakpoint lg */
@media (min-width : 992px) {
    
    .container.mt-5 {
        margin-top: 200px !important;
    }
    
    /* Header */
    .offcanvas {
        visibility: visible;
        position: relative;
    }
    .navbar-nav{
        .nav-item{
            a{
                font-size: $font-size-lg !important;
            }
            .btn{
                font-size: $font-size-lg !important;
                background-color: $secondary;
                width: 100% !important;
            }
            &.border-top{
                border: none !important;
            }
            &.w-100{
                width: auto !important;
            }
        }
    }
    /* Section Features */
    .features{
        .nav-item{
            border-top: none !important;
        }
    }
}

/* Breakpoint mobil */
@media (max-width : 992px) {

    .container.mt-5 {
        margin-top: 100px !important;
    }
    
    /* Header */
    .offcanvas {
        width: 100% !important;
    }
    .offcanvas-start-lg {
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
    .navbar-nav{
        .nav-item {
            a {
                color: white !important;
            }
        }
    } 

    
}


