/* ------------- MODIFICAR VARIABLES ------------- */
$position-values: (20 :20%);

$primary:#5265E1;
$secondary:#FA5959;
$success:#283673;
$info:#adb5bd;
$font-family-sans-serif: 'Roboto',sans-serif;
$font-weight-semibold: 500;
$font-size-base:.8rem;

$border-widths: (1: 0.1px);


/* ------------- ESTILS PROPIS ------------- */

.font-montserrat {
    font-family: 'Montserrat', sans-serif !important;
}
/* Section primary */
.background-hero{
    z-index: -1;
}

@media (min-width : 992px) {
    .image-hero{
        width: 110%;
    }
}

@media (max-width : 992px) {
    .background-hero{
        width: 200vw !important;
    }
    .image-hero{
        width: 100%;
    }
}


/* ------------- CARREGUEM LLIBRERIA BOOTSTRAP ------------- */

@import "../node_modules/bootstrap/scss/bootstrap.scss";





/* ------------- MODIFICACIONS ESTILS BOOTSTRAP ------------- */

body {
    overflow-x: hidden;
}

/* Header */
.navbar-toggler-icon {
    background-image: url(../images/icon-hamburger.svg);
}

.btn-close {
    background-image: url(../images/icon-close.svg);
    opacity: 1;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-header img {
    max-width: 200px;
}

/* Section Features */
.features{
    .nav-item{
        .link-info{
            &.active{
                color:black !important;
                border-bottom: 3px solid $secondary !important;
            }
        }
    }
}

@media (min-width : 992px) {
    .container.mt-5 {
        margin-top: 200px !important;
    }
    
    /* Header */
    .offcanvas {
        visibility: visible;
        position: relative;
    }
    .navbar-nav{
        .nav-item{
            a{
                font-size: $font-size-lg !important;
            }
            .btn{
                font-size: $font-size-lg !important;
                background-color: $secondary;
                width: 100% !important;
            }
            &.border-top{
                border: none !important;
            }
            &.w-100{
                width: auto !important;
            }
        }
    }
    /* Section Features */
    .features{
        .nav-item{
            border-top: none !important;
        }
    }
}

@media (max-width : 992px) {
    .container.mt-5 {
        margin-top: 100px !important;
    }
    
    /* Header */
    .offcanvas {
        width: 100% !important;
    }
    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 0, 0, .2);
        transform: translateX(-100%);
    }
    .navbar-nav{
        .nav-item {
            a {
                color: white !important;
            }
        }
    } 
    /* Section Features */
    
}


